.errorCont {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 
 }
 
 .error {
     color: #ff2e89;
     font-size: large;
     font-weight: 600;
 }